<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant for you">
    <meta name="theme-color" content="#222327"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Ez Restaurant - Welcome</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Skip Content</a>
    <header>
        <app-bar></app-bar>
    </header>

    <div class="hero" id="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Ez Restaurant adalah restoran khas Indonesia</h1>
            <p class="hero_tagline">Restaurant ini didirikan pada tahun 2021 dan salah satu Restauran yang sudah terkenal di beberapa tempat di Indonesia Aaamiinn...</p>
        </div>
    </div>

    <main id="mainContent" tabindex="0"></main>

    <footer>
        <footer-bar></footer-bar>
    </footer>
</body>
</html>
